@model Movie_Rentals.Models.Actor
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Birth Date: @Model.BirthDate.ToShortDateString()</li>
    <li>Age: @Model.CalculateAge(Model.BirthDate)</li>
    <li>Movies:
        <ul>
            @foreach (var m in Model.Movies)
            {
                <li>@Html.ActionLink(m.Name, "Details", "Movies", new { id = m.Id }, null)</li>
            }
        </ul>
    </li>

</ul>