@model Movie_Rentals.Models.Actor
@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Image</h2>

@using (Html.BeginForm("Upload", "Actor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <br>
    <input type="submit" class="btn btn-primary" value="Upload" />
    @Html.HiddenFor(a => a.id);
}

