@model WebApplication1.ViewModels.MovieList
@{
    ViewBag.Title = "MoviesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MoviesList</h2>
@if (Model.Movies.Count == 0)
{
    <text>There are no movies available right now.</text>
}
else
{
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>
                @movie.Name
            </li>
        }
    </ul>
}
