@model WebApplication1.Models.Movie
@{
    ViewBag.Title = "UploadPoster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload Poster for @Model.Name</h2>
@using (Html.BeginForm("UploadPoster", "Movies", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="upload" />
    <br>
    <input type="submit" class="btn btn-primary" value="Upload" />
    @Html.HiddenFor(m => m.Id);
}
